
/* -------------- */
.main-section{
    margin-bottom: 50px;
    padding-bottom: 50px;
}
.title-comparison-product{
    background-color: #f3f2ee;
    padding-top: 15px;
    padding-bottom: 35px;
}
.title-comparison-product h3{
    color: #0f0f0f;
    font-size: 25px;
    font-weight: 500;
}
.title-comparison-product span{
    color: #0f0f0f;
    font-size: 17px;
    padding-right: 10px;
}
.title-comparison-product i{
    padding-right: 10px;
}
.compare-box{
    margin-top: 50px;
}
table.table-bordered{
    width: 1170px;
}
div.title-table{
    width: 1170px;
    padding: 15px 20px;
    text-align: center;
    background-color: #2cbae5;
}
.title-table strong{
    font-size: 20px;
    color: #ffffff;
    text-transform: uppercase;
    display: block;
}
.main-table tr td{
    text-align: center;
    padding: 15px;
    font-size: 16px;
}
.main-table .img-compare{
    width: 200px;
}
.main-table tr td a{
    text-decoration: none;
    color: white;
}
.main-table span{
    color: #3c3c3a;
}
.title-list-compare{
    font-weight: 500;
    font-size: 20px;
}
.price-product{
    color: #0f0f0f;
    font-weight: 500;
    font-size: 18px;
}
.star-rate-compare{
    width: 95px;
    height: auto;
    position: relative;
    z-index: 0;
    margin: 0 auto;
    margin-bottom: 17px;
}
.star-rate-off{
    position: absolute;
    width: 95px;
    height: 19px;
    background-image: url("../Image/Home/product/star-off-1.png");
    z-index: 1;
}
.star-rate-on{
    position: absolute;
    width: 95px;
    height: 19px;
    background-image: url("../Image/Home/product/star-on-big.png");
    z-index: 2;
}
.add-remove-box{
    padding-left: 25px;
    padding-right: 25px;
}
.add-to-cart-table{
    font-size: 14px;
    text-transform: uppercase;
    display: block;
    width: 145px;
    padding: 15px 20px;
    background-color: #1b8ff3;
    float: left;
    font-weight: 500;
}
.remove-item{
    font-size: 14px;
    text-transform: uppercase;
    display: block;
    width: 145px;
    padding: 15px 20px;
    background-color: #020202;
    float: right;
    font-weight: 500;
}







